* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.main-img {
    height: 50vh;
    width: 65vw;
    border-radius: 10px;
}

.date {
    height: 7vh;
    width: 15vw;
}

.details {
    align-content: center;
    height: 10vh;
    width: 95vw;
}
