.container {
    align-items: center;
}

.flic {
    height: 65vh;
    width: 65vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: rgb(131, 124, 124);
    margin-left: 17vw;
    margin-bottom: 10vh;
    position: relative;
}

.flic:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding:0.4rem 0.8rem;
    position:absolute;
    bottom:10px;
}

.main-img {
    height: 50vh;
    width: 65vw;
    border-radius: 10px;
}

.date {
    margin:.6rem 0 .6rem 0;
}

.heart {
    padding:.4rem .6rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius:.4rem;
    cursor: pointer;
    transition:0.3s;
}

.heart:hover {
    background-color: rgb(238, 228, 228);
    color: #fff;
}