* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.whole {
    width: 75vw;
}

.main-img {
    height: 50vh;
    width: 65vw;
    border-radius: 10px;
}

.date {
    height: 7vh;
    width: 15vw;
}
